{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="card tc center mg-10 mt-5 pd-3 " style="margin-left: 25rem; margin-right:25rem ;">
    <div class="card-body" >
      <div class="card-text" width=20rem height=30rem>
        <form method='POST' >
            {% csrf_token %}
            <div class="form-group ">
                <fieldset >
                    <legend class="text-center" >Log In </legend>
                    <hr>
                        {{ form|crispy }}
                </fieldset>
            </div>
            <button type="submit" class="btn btn-outline-primary">Log In</button>
        </form> 
        <hr>   
        <span class = 'ml-5 text-center'> 
            <small class= "text-muted text-center">Don't Have an Account?</small>  
            <button type="button" class="btn btn-secondary btn-sm"> <a href={% url "register" %} class=" ml-2 card-link" style="color:white">SignUp here</a></button>
            </button>      
        </span>
  </div>
{% endblock content %}